body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  color: #fff;
}
.container {
  display: flex;
  padding: 2rem;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 42rem;
  background-color: #1f2937;
}
.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
}
input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #374151;
  color: #ffffff;
  background-color: #374151;
}
.btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  width: 30%;
  color: #ffffff;
  background-color: #3b82f6;
  background: #050e4d;
  background-image: -webkit-linear-gradient(top, #050e4d, #009dff);
  background-image: -moz-linear-gradient(top, #050e4d, #009dff);
  background-image: -ms-linear-gradient(top, #050e4d, #009dff);
  background-image: -o-linear-gradient(top, #050e4d, #009dff);
  background-image: linear-gradient(to bottom, #050e4d, #009dff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  font-weight: 500;
  padding: 12px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #002942;
  background-image: -webkit-linear-gradient(top, #002942, #3498db);
  background-image: -moz-linear-gradient(top, #002942, #3498db);
  background-image: -ms-linear-gradient(top, #002942, #3498db);
  background-image: -o-linear-gradient(top, #002942, #3498db);
  background-image: linear-gradient(to bottom, #002942, #3498db);
  text-decoration: none;
}
img{
  width: 70%;
  margin-left: 15%;
  padding-bottom: 10px;

}
@media (max-width: 482px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 10px;
  }
  .input_div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  h1 {
    font-size: 100%;
  }
  h3{
   font-size: 100%;
  }
  .btn{
    width: 100%;
  }
  img{
    width: 50%;
    margin-left: 25%;
    padding-bottom: 20px ;

  }
}
